 .container-fluid> h1{
  text-align: center;
  margin-top: 2rem;
  color: black;
  font-family:'Big Shoulders Stencil Text', cursive
 }
 #extra{
  color: green;
 }
 .container-fluid> p{
  color:black;
  text-align: center;
  font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif;
font-size: large;
 }