 .container-fluid> h1{
  text-align: center;
  margin-top: 2rem;
  color: black;
  font-family:'Big Shoulders Stencil Text', cursive
 }
 #extra{
  color: green;
 }
 
 .container-fluid> p{
  color:black;
  text-align: center;
  font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif;
font-size: large;
 }
 .image1{
  height:29rem ;
  width:25rem;
  margin-top: 2rem;
  margin-left: 1rem;
  border-radius: 1rem 1rem;
 }
 .image2{
  height:19rem ;
  width:25rem;
  margin-top: 2rem;
  border-radius: 1rem 1rem;
  float: right;
  
 }
 .line44{
  float: right;
  margin-top: 3rem;
  
  font-family: 'Oswald', sans-serif;
  margin-right: 8rem;
  font-size: 2.5rem;
  color: black;
 }
 .container >p{
  margin-left: 29rem;
  margin-top: -25rem;
  text-align: center;
  font-family: 'Lora', serif;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  color: black;
 }